<% provide(:title, @tour.name + " Tour") %>
<h1>Tour: <%= @tour.name %></h1>

<p>Format: HTML | <%= link_to "XML", tour_path(@tour, :format => :xml) %> | <%= link_to "JSON", tour_path(@tour, :format => :json) %></p>

<h3>Description</h3>
<p><%  if @tour.description.present? %>
    <%= @tour.description %>
  <% else %>
    <%= "No Description Added" %>
  <% end %>
</p>

<h3>Location</h3>
<p>Lat: <%= @tour.lat %>, Long: <%= @tour.long %></p>

<p><%= link_to "Edit", edit_tour_path(@tour), :class => 'btn' %></p>

<h3>POIs:</h3>
<%= render 'pois/poi_table', pois: @tour.pois %>
<%= link_to "Add Point of Interest", new_tour_poi_path(@tour), :class => 'btn' %>