<%= semantic_form_for(@poi, url: tour_pois_path(@tour)) do |f| %>
  <% if @poi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi.errors.count, "error") %> prohibited this poi from being saved:</h2>

      <ul>
      <% @poi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.inputs :title, :lat, :long %>
  <%= f.actions do %>
    <%= f.action :submit, :button_html => { :class => "btn btn-primary" } %>
    <%= f.action :cancel, :label => "Cancel" %>
  <% end %>
<% end %>
