<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @poi.title %>
</p>

<p>
  <b>Lat:</b>
  <%= @poi.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @poi.long %>
</p>


<%= link_to 'Edit', edit_tour_poi_path(@tour, @poi) %> |
<%= link_to 'Back', tour_pois_path %>
